#app .bar > .menu-bar {
  float: left;
  margin-left: 0px;
  display: flex;
  align-items: center;
}

#app .menu-bar .title {
  float: left;
  margin-left: 10px;
  font-weight: lighter;
  color: #909090;
} 
#app .menu-bar .drawer {
  float: left;
  margin-left: 0px;
  background-color: #6796f7c9;
  box-shadow: 0 12px 20px -10px rgba(43, 155, 208, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(66, 39, 176, 0.2);
  height: 40px;
  width: 40px;
}
#app .menu-bar .menu-icon {
  height: 25px;
  width: 25px;
}